// Register your app at https://apps.dev.microsoft.com

export const MicrosoftAppID = "";

export const MicrosoftAppSecret = "";

export const TenantDomain = "";

export const NotificationReceiverUrl = "";